*{
	margin:0;
	padding:0;
	font-family: 'Robolo', sans-serif;
}

.container{
	width:100%;
	height:100vh;
	background-image:  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img1.jpg);
	background-position:center;
	background-size:cover;
	padding-left:8%;
	padding-right:8%;
	box-sizing:border-box;
}
.navbar{
	height:12%;
	display:flex;
	align-items:center;
}
.logo{
	width: 400px;
	cursor:pointer;
}
.menu-icon{
	width:50px;
	cursor:pointer;
	margin-left:40px;
}
nav{
	flex:1;
	text-align:right;
}

nav ul li{
	list-style:none;
	display:inline-block;
	margin-left:60px;
}
nav ul li a{
	text-decoration:none;
	color:#fff;
	font-size:13px;
}
nav ul li a:hover{
	background-color: gray;
	display:block;
	padding:10px;
}
.row{
	display: flex;
	height:88%;
	align-items:center;
}
.col{
	flex-basis:50%;
}
h1{
	color:#fff;
	font-size:50px;
}
p{
	color:#fff;
	font-size:11px;
	line-height:15px;
}
button{
	width:180px;
	color:#000;
	font-size:16px;
	padding:12px 0;
	background:#fff;
	border:0;
	border-radius:20px;
	outline:none;
	margin-top:30px;
	cursor:pointer;
}
.card{
	width:200px;
	height:200px;
	display:inline-block;
	border-radius:10px;
	padding:15px 25px;
	cursor:pointer;
	margin: 10px 15px;
	background-position:center;
	background-size:cover;
	
}
.card1{
	background-image:url(VW.png);
}
.card2{
	background-image:url(BMW.png);
}
.card3{
	background-image:url(BENZ.jfif);
}
.card4{
	background-image:url(ford.jpg);
}
.card:hover{
	transform:translate(-10px);
}
h2{
	color:black;
	text-shadow:0 0 5px #999;
}
.card p{
	text-shadow:0 0 15px #000;
	font-size:12px;
	font-family:bold;
	color:black;
}
footer p{
	color:black;
	margin-top:-45px;
	color:white;
	font-family: serif;
}
/*--------------------------------CONTACT--------------------------------------*/

.contact-form{
	width:85%;
	max-width:600px;
	background: #f1f1f1;
	position: absolute;
	left:50%;
	bottom:-210px;
	transform:translate(-50%,-50%);
	padding:30px 40px;
	box-sizing:border-box;
	border-radius:8px;
	text-align:center;
	box-shadow:0 0 20px #00000063;
	font-family:"Montserrat",sans-serif;
}
.txtb{
	border:1px solid gray;
	margin:8px 0;
	padding:12px 18px;
	border-radius:8px;
}

.txtb label{
	display:block;
	text-align:left; 
	color:#333;
	text-transform:uppercase;
	font-size:14px;
}
.txtb input, .txtb textarea{
	width:100%;
	border:none;
	background:none;
	outline:none;
	font-size:18px;
	margin-top:6px;
}
.btn{
	display:block;
	background:#C0C0C0;
	padding:14px 0;
	color:black;
	text-transform:uppercase;
}
.row1{
	display: flex;
	height:88%;
	align-items:center;
	padding:-30px 40px;
	top:20%;
}
.address h1{
	font-size:25px;
	color:white;
	text-shadow:0 0 15px #000;
}
.address p{
	font-size:15px;
	font-family:cursive;
}
.address p a{
	color:yellow;
}
h4{
	font-size:25px;
	color:white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 20px 2px;
  margin-top:20%;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #007bb5;
  color: white;
}
/*---------------------------------About Us-------------------------------------*/
.cards{
	width:200px;
	height:200px;
	display:inline-block;
	border-radius:10px;
	padding:15px 25px;
	cursor:pointer;
	margin: 10px 15px;
	background-position:center;
	background-size:cover;
	/*box-sizing:border-box;*/
}

h2{
	color:white;
	text-shadow:0 0 5px #999;
}
.card p{
	text-shadow:0 0 15px #000;
	font-size:12px;
	font-family:bold;
	color:black;
}
/*-------------------------------------------------------------Services-----------------------------------*/
.intro{
	display: flex;
	height:48%;
	align-items:center;
	
}
.row3{
	display: flex;
	height:35%;
	align-items:center;
}
.column {
  float: left;
  width: 33.33%;
  padding: 2px;
  height: 120%; /* Should be removed. Only for demonstration */
}
.column h2:hover{
	background-color:gray;
}
.column h2 a{
	color:white;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
/*-------------------------------------------------SERVICING-------------------------------------------------*/
.intro1{
	display: flex;
	height:48%;
	align-items:center;
	
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top:10px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.content p{
	color: black;
}
/*---------------------------------------------------------------REPAIRS------------------------------------------------------------*/
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td{
	color:white;
}